page-administracion {
  .adminFooter {
    background-color: #ffffff;
  }

  #addPerson {
   position: relative;
  }

  #addPersonBadge {
     position: absolute;
     bottom: 5px;
     right: 20px;
  }
}
